

#wrap{
    width: 400px;
    margin: 0 auto;
}
h1{
    text-align: center;
    background-color: #bf3f34;
    width: 400px;
    margin: 10px auto;
}
#cate_box{
    text-align: center;
    background-color: #f2b872;
    width: 400px;
    margin: 10px auto;
}
#cate_box > input{
    margin-bottom: 5px;
}
#menu_box{
    text-align: center;
    background-color: #f2b872;
    width: 400px;
    margin: 10px auto;
}
#menu_box > input{
    margin-bottom: 5px;
}
div > span{
    display: flex;
    justify-content: center;
    background-color: #20638c;
    width: 400px;
    height: 50px;
    margin: 10px auto;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

table{
    width: 400px;
}
td{
    text-align: center;
}