body{
    
    width: 350px;
   
    border: 2px solid black;
    text-align: center;
    margin: auto;
    
}


#paymentBtn > input{
    width: 170px;
    height: 80px;
    text-align: center;

}

#totalPrice > .tpContent{
    font-weight: bold;
    color: red;
}

#totalPrice > span{
    color: red;
    font-weight: bold;
    
}
#print{
    border: 1px solid pink;
}
img{
    width: 100px; height: 100px;
    padding-right: 509px;
}

#comp{
    margin:  10px;
}
#complain > {
    padding-top: 50px;
}
#paymentBtn{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}

#pay_page{ 
    font-weight: bold;
    margin: 20px ;
}
#payBtn{
    
}